[submodule "arduino/Arduino-Makefile"]
	path = arduino/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "arduino/lib/ArduinoBearSSL"]
	path = arduino/lib/ArduinoBearSSL
	url = https://github.com/arduino-libraries/ArduinoBearSSL.git
[submodule "arduino/lib/ArduinoECCX08"]
	path = arduino/lib/ArduinoECCX08
	url = https://github.com/arduino-libraries/ArduinoECCX08.git
[submodule "arduino/lib/ArduinoJson"]
	path = arduino/lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "arduino/lib/WiFiNINA"]
	path = arduino/lib/WiFiNINA
	url = https://github.com/arduino-libraries/WiFiNINA.git
[submodule "arduino/lib/ezTime"]
	path = arduino/lib/ezTime
	url = https://github.com/BreitbandModem/ezTime.git
[submodule "arduino/lib/Adafruit_NeoPixel"]
	path = arduino/lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
