#define SECRET_SSID "MY_WIFI_SSID"
#define SECRET_PASS "my_wifi_password"
#define BACKEND_ADDRESS "backend.address"
const char* CERTIFICATE = R"(
-----BEGIN CERTIFICATE-----
Contents of signed Certificate
by the Certificate Authority of the backend.
Copy contents 1:1 from the .crt file.
-----END CERTIFICATE-----
)";